html, body {
height: 100%;
width:100%;
margin: 0;
padding: 0;
background: black;
min-height:100vh;
}
/* sections */
/* Top section */
.main-image {
	background-image: url("assets/images/Craig_photo_spaceman.jpg");
	height: 100%;
	margin: none;
  }
  .top-right {
	padding: 0px;
  }
  .right-upper {
	width: 100%;
	height: 50vh;
	padding: 0px;
  }
  .slide-style {
    padding:1px;
  }
  .left-arrow {
    left: -15%;
    top: 10%;
    width: 12% !important;
    position: absolute;
  }
  #leftArrow {
    display:none;
  }
  .right-arrow {
    right: -15%;
    top: 10%;
    width: 12% !important;
    position: absolute;
  }
  .right-lower {
    width: 100%;
    height: 50vh;
    padding: 0px;
    background: white;
    color: black;
    text-align: left;
  }
  .lowerPadding { 
    padding-left: 5vh;
    padding-top: 4vh;
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
  }  
  .nextIcon {
    left: -15%;
    top: 16vh;
    width: 12vh;
  }
  /* Input Sections */
  .input1 {
	background:lightcoral;
	height: 100%;
  }
  .input2 {
	background:lightgreen;
	height: 100%;
  }
  .input3 {
	background:lightsalmon;
	height: 100%;
  }
  /* Contact Section */
  .contact-section {
	background:navy;
	height:100%;
  }
  /* About section */
  .about-section {
	background:orange;
	height: 100%;
  }
  
.about-section {
  background-color: white;
  color: black;
  font-size: 2rem;
  text-align: left;
  height: 100vh;
  width: 100%;
  }
  #aboutTitle {
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 5%;
  }
  /* Credit Section */
  .credits-section {
	background:rebeccapurple;
	height: 100%;
  }
  .row {
	margin: none;
	padding: none;
  }
/* Global Styles */
.image-stretch {
	height: 100vh;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




/* OLD STYLES TO BE REFACTORED   */


.navButtons {
	position:absolute;
	display:block;
}

.container {
	position: relative;
	text-align: center;
	color: white;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.overlayText {
	position: absolute;
	color:white;
	text-align: left;
	width: 75%;
	height: 75%;
	border: solid;
	border-width: 30px;
	height: 75% !important;
}

.overlayNoBorder {
	position: absolute;
	color:white;
	text-align: left;
	width: 75%;
	height: 75%;
	text-transform: none;
}

.splashTitle {
	font-size: 3em;
	font-weight: bolder;
	padding-left: 20%;
	padding-top: 10%;
	text-transform: uppercase;
}

.normalTitle {
	font-size: 4em;
	font-weight: bolder;
	padding-left: 20%;
	padding-top: 10%;
}

.splashText {
	font-size: .25em;
	font-weight: normal;
	text-transform: none;
}


.topRightBoxes {
	text-align: left;
	height: 50vh;
	padding: 0px !important;
}

.lowerBox {
	text-align: left;
	vertical-align: middle;
  	padding-left:15%;
  	background:white;
  	color: black;
}

.topRightText {
	text-align: left;
	padding-left: 5vw;
	padding-top: 12vh;
}
.topRightHI {
	padding-top: 25%;
}




.sectionHeight {
	height: 100vh;
	min-height:400px;
	background-color: black;
	color:white;
	position:relative;
}

.inputColumns {
	background-color: black;
	color:white;
	width: 100%;
}

.inputDescription {
	text-align: center;
	padding-top: 3rem;
	font-size: 1.25rem;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 75%;
	height: 75%;
	transform: translate(-50%, -50%);
}



.inputColumns {
	position:relative;
}

.inputColumns::after {
	position: absolute;
	right: 0;
	top: 0; 
	background-color: #000000;  
}

.input  {
	margin: 0 auto;
	display: block;
	width: 60%;
	height: 4rem;
	border-radius: 2rem;
	color: gray;
	background-color: rgba(255,255,255,0.20);
	border: none;
	padding-left: 25%;
}

.circleText {
	border-radius: 50%;
	border: 1px solid white;
	width: 48px;
	height:48px;    
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px; 
}

.numberText {
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
}

.about {
	background-color: white;
	color: black;
}

.icon {
	color:white;
	width: 6rem;
	margin: auto;
	padding-bottom: 25vh;
}


.audioIcons {
	width: 6rem;
	padding: 1rem;
}

.centerButtons {
	display: block;
	padding-top: .5rem;
}

.step {
	font-size: 2.5rem;
	padding-bottom: 1rem;
	padding-top: 10%;
}

.step::before{
    content: '\a0\a0\a0\a0\a0\a0\a0\a0';
    display: block;
    position: absolute;
    text-decoration: underline;
    width: 40px;
    overflow: hidden;
    top: 7%;
    left: 50%;
    margin-left: -19px;
}

.instructions {
	font-size: 2rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	font-style: normal;
	font-family: arial;
} 

.mic-wrapper {
    padding-bottom: 16vh;
    padding-top: 0px;
}


.nextIconBottom {
padding-top: 35%;		
}

.normalText {
	font-size: 1rem;
	text-align: left;
}

.bigText {
	font-size: 4rem;
	text-align: left;
	font-weight: bolder;
	font-family: arial;
}

.centerText  {
    text-align:center;
}


.fa-dot-circle:hover {
    opacity: 0.75;  
}

.fa-stop-circle:hover{
    opacity: 0.75;  
}

@keyframes glowing {
    0% { text-shadow: 0 0 -80px red; }
    20% { text-shadow: 0 0 60px red; }
    60% { text-shadow: 0 0 -80px red; }
    80% { text-shadow: 0 0 60px red; }
    100% { text-shadow: 0 0 -80px red; }
  }
  
.button-glow {
    animation: glowing 2500ms infinite;
}

ol{
list-style-type: none;
}

.input{
    height: 4em;
}

.record-control{
    margin-top: 20px;
}

#waveform{
    display: block;
    position: relative;
    user-select: none;
    height: 4em;
    width: 60%;
    border-radius: 2rem;
    overflow: auto hidden;
    background-color: gray;
	
	  margin: 0 auto;
	  margin-top: 10vh;
     /* margin-top: 10vh; */
    display: block;
    width: 60%;
    border-radius: 2rem;
    color: gray;
    background-color: rgba(255,255,255,0.20);
    border: none;
    padding: 0 0 0 0;
    width: 354px;
    height: 56px;

}

#trashButton{
    width: 2.9em;
    padding-bottom: 27px;
}

.clockStyle {
	font-size: 64px;
	color: white;
}

#autocomplete {
position: relative;
top: 0px;
left: 0px;
width: 60%;
padding-left: 4%;
}
/* 
.pac-container:after {
    Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown
    background-image: none !important;
    height: 0px;
} */
.vl {
	border-left: 6px solid green;
    height: 500px;
}
sectionHeight:before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:1px solid magenta;
}
/* details */


a:focus, a:hover {
    /* color: #23527c; */
    text-decoration: none;
}

.input-border::after {
	content: '';
	width: 0;
	height: 80%;
	margin-top: 10%;
	position: absolute;
	border: 1px solid white;
	top: 0;
	right: 0;
  }

  @media only screen and (max-width: 992px) {
    /* For tablets:*/
  /* Top section */.top-right {
    padding: 0px;
  }
  .right-upper {
  height: 100vh;
  }
  .step {
    padding-bottom: 3%;
    padding-top: 5%;
  }
  .step::before{
    content: '\a0\a0\a0\a0\a0\a0\a0\a0';
    display: block;
    position: absolute;
    text-decoration: underline;
    width: 40px;
    overflow: hidden;
    top: 7%;
    left: 50%;
    margin-left: -19px;
  }
  .right-lower {
  display:none
  }
  .left-arrow {
  left: -12%;
  top: 35%;
  }
  #leftArrow {
    display:none;
  }
  .right-arrow {
    right: -12%;
    top: 35%;
  }
  /* INPUT SECTIONS */
    
    .container {
      width: 100%;
    }
    .innerText {
      height: 40%;
    }
  
    .mic-wrapper {
      padding-bottom: 3vh;
    }
  
    .lowerBox{
      display: none;
    }
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .right-upper{
        background:pink;
        height: 100%;
    }
    /* INPUT SECTIONS */
    .step {
      font-size: 7.5rem;
    }
  }






